$material-da-indigo: (
        "base":       #27073a,
        "lighten-5":  #bd0eff,
        "lighten-4":  #910ecb,
        "lighten-3":  #6b0e9c,
        "lighten-2":  #50086e,
        "lighten-1":  #38074f,
        "darken-1":   #150729,
        "darken-2":   #1f0730,
        "darken-3":   #120723,
        "darken-4":   #0a0613,
);

$material-da-purple: (
        "base":       #5520b2,
        "lighten-5":  #5821ff,
        "lighten-4":  #5720f5,
        "lighten-3":  #5720e8,
        "lighten-2":  #5620d2,
        "lighten-1":  #5520c1,
        "darken-1":   #4b2096,
        "darken-2":   #311d63,
        "darken-3":   #0f0a1f,
        "darken-4":   #080511,
);

$material-da-cyan: (
        "base":       #51f6ff,
        "lighten-5": rgba(81, 246, 255, 0.22) ,
        "lighten-4": rgba(81, 246, 255, 0.42),
        "lighten-3": rgba(81, 246, 255, 0.52),
        "lighten-2": rgba(81, 246, 255, 0.72),
        "lighten-1": rgba(81, 246, 255, 0.87),
        "darken-1":   #46c5ce,
        "darken-2":   #3e959e,
        "darken-3":   #316770,
        "darken-4":   #193b40,
);

$material-da-orange: (
        "base":       #ff5d00,
        "lighten-5":  #ffd1b9,
        "lighten-4":  #ffb88d,
        "lighten-3":  #ff9f67,
        "lighten-2":  #ff8441,
        "lighten-1":  #ff6c1d,
        "darken-1":   #ca5000,
        "darken-2":   #9c4300,
        "darken-3":   #592c00,
        "darken-4":   #341a00,
);
